@model IEnumerable<WebApplication1.Models.Estilos>

@{
    ViewBag.Title = "Estilos";
}
<section class="section cta dark">
        <div class="content container my-5 py-5">
            <div class="works">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="work col-md-4 col-sm-6">

                            <div class="work-thumb">

                                <img src="@Html.DisplayFor(modelItem => item.Foto)" alt="@Html.DisplayFor(modelItem => item.Nome)">
                                <div class="thumb-links">
                                    <a class="zoom" href="@Html.DisplayFor(modelItem => item.Foto)"></a>
                                </div>
                                <h6>@Html.DisplayFor(modelItem => item.Descricao)</h6>
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>
</section>



