@model IEnumerable<WebApplication1.Models.Estudio>


<section class="section cta dark">
    <div class="container bg-white p-5" style="margin: 5rem auto 25rem auto;">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="perfil-estudio">
                                        <div class="row">
                                            <div class="col-3">
                                                <img src="~/Uploads/@item.Id/@item.Foto?@DateTime.Now.ToString("yyyyMMddHHmmss")" class="perfil-foto" alt="...">
                                            </div>
                                            <div class="col-6">
                                                <p class="card-title"><b>@Html.DisplayFor(modelItem => item.nomeEstudio)</b></p>
                                                <p class="card-text" style="color:black">
                                                    @Html.DisplayFor(modelItem => item.Cidade) -
                                                    @Html.DisplayFor(modelItem => item.Estado)
                                                </p>
                                                @*<h3>@ViewBag.Estudio</h3>*@
                                            </div>
                                            <div class="col-3">
                                                <a href="~/Estudios/Perfil/@Html.DisplayFor(modelItem => item.Id)" class="btn btn-primary">Visitar Perfil</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

